lightblue = #F4F8FF
lightgrey = #F5F5F5
lightgreen = #F4FFF8
mediumgrey = #999999
text-medium = #666
darkgrey = #1F1F28
cgwiregreen = #00B242
cgwiregreentransparent = #00B242CC
cgwiregreen-alt = #67BE4B
cgwiregreen-light = #7AE3A0
purple = #8a53d1
lightpurple = purple + 95%
rainbow-1 = #FF6BC2
rainbow-2 = #C149C4
rainbow-3 = #8A53D1
rainbow-4 = #92D277
rainbow-5 = #2BD1B8
rainbow-6 = #24C15E
rainbow-7 = #257CDE
rainbow-8 = #4C4BA2
rainbow-9 = #FFAB0D
rainbow-10 = #25B1F3
rainbow-11 = #FF700D
rainbow-12 = #9BBE27
rainbow-13 = #FF195E
rainbow-14 = #CE2358
