
header 
    a.navbar-lang-item 
        font-size 0.8em
        color #BBB

    .navbar-link:after
        border-color #00B242

section
    max-width: 950px
    margin: auto

    &.introduction
        margin-top 3em

        img
            width 100% 
            max-width 500px

    &.wide
        max-width 1080px

    a
        color #00B242

    a:hover
        color #67BE4B

    .block
        margin 4em 0


h1.title
    margin-top: 1em
    font-size: 3.2em
    font-weight: 500
    color: #4EBE70

h2.subtitle
    margin-top: 1em
    margin-bottom: 1em
    font-size: 1.5em
    text-align: center
    font-weight: 500

p
li
    font-size: 16px

.button
.button:focus
    color: white
    background-color: #00B242
    border: 1px solid #00B242

.button:hover
    color: white
    background-color: #67BE4B
    border: 1px solid #67BE4B

.input:focus
    border: 1px solid #00B242


footer
    background #EEE
    height 100%
    bottom 0

    a
        color #999

    .columns
        max-width: 920px
        margin: 4em auto

    .address
        color #999
        padding-left 20px

    .internal-links
        padding-top 1.8em

    .footer-title
        text-transform capitalize
        font-style capitalize
        margin-bottom 1em

    li
        display flex
        margin-bottom 1em

footer img
    margin: 0 1em 0em 0

.newsletter-form .submit-button
    margin-left: 0.5em

.email
    margin-right: 1em

.app
    background: #EFEFF8
    padding: 1.5em
    margin: 0.8em
    border-radius: 1em

footer img.logo
    height: 40px

#mc_embed_signup
    padding 1em
