html
body
    margin 0

header 
    a.navbar-lang-item 
        font-size 0.8em
        color #BBB

    .navbar-link:after
        border-color #00B242

    .navbar-link
        margin-left 0
        padding-left 0

section
    max-width: 950px
    margin: auto

    &.introduction
        img
            width 100% 

    &.wide
        max-width 1080px

    &.partners
        padding 0

    a
        color #00B242

    a:hover
        color #67BE4B

    .block
        margin 4em 0 0 0
        
        h3
            margin-top: 1em

        .screenshot
            box-shadow 0px 0px 4px #DDD

        &.middle-block
            margin-top 6em
            margin-bottom 4em


.flexrow
    display flex
    align-items center


.flexrow-item
    flex 1
    align-items center
    margin-right 2em


h1.title
    margin-top 1em
    font-size 3.2em
    font-weight 500
    color white
    margin-bottom 0


h2.main-subtitle
    font-size 1.2em
    color white
    margin-bottom 2em


h2.subtitle
    margin-top: 1em
    margin-bottom: 1em
    font-size: 1.5em
    text-align: center
    font-weight: 500

.button
.button:focus
    color: white
    background-color: #00B242
    border: 1px solid #00B242

.button:hover
    color: white
    background-color: #67BE4B
    border: 1px solid #67BE4B

.input:focus
    border: 1px solid #00B242


footer
    background #EEE
    padding-bottom 2em

    a
        color #999

    .columns
        max-width: 920px
        margin: 4em auto

    .address
        color #999
        padding-left 20px

    .column
        padding-top 1.8em

    .logo-column
        padding-top 1.2em

    .footer-title
        text-transform capitalize
        font-style capitalize
        margin-bottom 1em

    li
        display flex
        margin-bottom 1em

    img
        margin 0 1em 0em 0

.section
    .level
        display flex
        margin-top 5em
        margin-bottom 2em

    .level-item
        width 50%

        p
            padding 2em

.home
    margin-top 0
    padding-top 0
    background-color white
    background-repeat no-repeat
    background url('/images/cgwire-background.jpg') no-repeat

    img.screenshot 
        border-radius 1em
        box-shadow 0 4px 16px rgba(0, 50, 0, 0.2)

.community
    img
        width 250px

    .level
        display flex

    .level-item
        width 50%
    
    .description
        p
            padding-top 0
        
    .level.block
        margin 0.5em 0


.newsletter-form .submit-button
    margin-left 0.5em

.email
    margin-right 1em

.app
    background #EFEFF8
    padding 1.5em
    margin 0.8em
    border-radius 1em

.filler
    margin-bottom 14em

.ppl
    width 150px
    border-radius 50%

.level > .level-item.ppl-image
    width 150px
    margin-right 2em
    flex-grow inherit

.ppl-description
    flex 1


footer img.logo
    height 40px

#mc_embed_signup
    padding 1em

.community a
    color inherit

.community a:hover
    color inherit

.pricings
    display flex
    flex-direction row
    margin-top 4em
    margin-bottom 2em
    flex-wrap wrap

.pricing-block
    flex 1
    text-align center
    margin 1em
    min-height 400px
    min-width 200px
    box-shadow 0 4px 16px rgba(0, 50, 0, 0.2)
    background white
    border-radius 1em
    display flex
    flex-direction column

    .pricing-title
        font-size 1.3em
        font-weight bold
        color #999
        padding 0.8em

    .pricing-price
        .pricing-currency
            font-size 0.9em

        .pricing-value
            font-size 1.8em

    .pricing-features
        flex 1
        padding 1em

        ul
            margin 0
            list-style-type none

        li
            padding 0.5em 0 
            font-size 0.9em
            color #888
            border-bottom 1px solid #EEE

    .pricing-text
        align-items center
        display flex
        color #999

    .pricing-cta
        padding 1em

        .button.is-outlined
            border 1px solid #00B242
            background white
            color #00B242
            width 100%
            transition transform 0.3s ease

        .button.is-outlined:hover
            transform scale(1.05)

.pricing-emphasize
    transform: scale(1.05)
    border 1px solid #00B242

.pricing-details
    color #999
    font-style italic

pre.docker
    font-size 1.1em
    padding 1em
    border-radius 1em
    margin auto

@media(max-width: 800px)
    h1.title
        font-size 1.8em
        margin-bottom 0

    .section.content
        padding 1em

        h3
            margin-top 0.2em

    .home
        background url('/images/cgwire-background-800.jpg') no-repeat

    pre
        padding 1em 0
        font-size 0.7em

    .block
        flex-wrap wrap

        &.flexrow
            margin-bottom 0

        .flexrow-item
            min-width 300px
            width 100%
            margin-right 0

        .level-item
            width 100%

    .community
        .description
            p
                padding-left 0
                padding-right 0
