html,
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
.hidden {
  display: none;
}
body a {
  color: #00b242;
}
body a:hover {
  color: #67be4b;
}
.section {
  max-width: calc(960px + 1.5rem * 2);
  margin: auto;
}
.section .intro-video {
  max-width: 90%;
}
.section .block {
  margin: 4em 0 0 0;
}
.section .block h3 {
  margin-top: 1em;
}
.section .block.middle-block {
  margin-top: 6em;
  margin-bottom: 4em;
}
.section .screenshot {
  border-radius: 0.5em;
  border: 1px solid #eee;
  box-shadow: 0 0 6px 3px #f1f1f1;
}
.section-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.section-item {
  padding: 1.5rem;
  text-align: center;
}
.section-item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 10rem;
  margin-bottom: 1rem;
}
.section-item-img:before {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  content: "";
  display: block;
  width: 10rem;
  height: 10rem;
  background-color: #fff;
  border-radius: 50%;
}
.section-item-img img {
  position: relative;
  z-index: 1;
}
.section-item-title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.section-item-text {
  font-size: 1.1rem;
}
.pr0-5 {
  padding-right: 0.5rem;
}
.pr1 {
  padding-right: 1rem;
}
.pl0-5 {
  padding-left: 0.5rem;
}
.pl1 {
  padding-left: 1rem;
}
.mt2 {
  margin-top: 2rem;
}
.filler {
  margin-bottom: 14em;
}
.flexrow {
  display: flex;
  align-items: center;
}
.flexrow-item {
  flex: 1;
  align-items: center;
  margin-right: 2em;
}
.flex-aic {
  align-items: center;
}
.flex-jcfe {
  justify-content: flex-end;
}
h2.subtitle {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
  text-align: center;
}
h2.subtitle.tagline {
  font-size: 1.9em;
  line-height: 1.3em;
  max-width: 550px;
  margin: auto;
  font-weight: bold;
  margin-bottom: 1em;
}
p.tagline-explaination {
  font-size: 1.1em;
  color: #1f1f28;
  line-height: 1.5em;
  margin-bottom: 2em;
}
.block-colored {
  background-color: #f5f5f5;
}
.block-colored .button--alt,
.block-colored .button--alt:focus {
  color: #999;
  background-color: transparent;
  border: 1px solid #999;
}
.block-colored .button--alt:hover {
  color: #fff;
  background-color: #999;
  border-color: #999;
}
.block-colored--dark {
  background-color: #1f1f28;
  color: #fff;
}
.block-colored--dark .section-subtitle,
.block-colored--dark .section-title {
  color: #fff;
}
.block-colored--dark .button--alt,
.block-colored--dark .button--alt:focus {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}
.block-colored--dark .button--alt:hover {
  color: #1f1f28;
  background-color: #fff;
  border-color: #fff;
}
.block-colored--dark .screenshot {
  box-shadow: 0 0 6px 3px #1c1c24;
  border: 1px solid #1f1f28;
}
.button,
.button:focus {
  color: #fff;
  background-color: #00b242;
  border: 1px solid #00b242;
  border-radius: 2em;
  padding: 1.2em;
}
.button:hover {
  color: #fff;
  background-color: #67be4b;
  border: 1px solid #67be4b;
}
.button--alt,
.button--alt:focus {
  color: #00b242;
  background-color: #fff;
  border: 1px solid #00b242;
}
.button--alt:hover {
  color: #00b242;
  background-color: rgba(0,178,66,0.1);
  border-color: #00b242;
}
.button--transparent,
.button--transparent:focus {
  color: #00b242;
  background-color: transparent;
  border: 1px solid transparent;
}
.button--transparent:hover {
  color: #67be4b;
  background-color: transparent;
  border-color: transparent;
}
.button--with-icon {
  display: inline-flex;
  justify-content: space-between;
}
.button--with-icon img {
  margin-right: 0.5rem;
}
.button.is-large {
  font-size: 1.2em;
}
.button.is-multiline {
  white-space: normal;
  padding: 0.5em 1.2em;
  height: auto;
}
.input:focus {
  border: 1px solid #67be4b;
}
.choice-wrapper {
  align-items: stretch;
  margin-top: 4em;
  margin-bottom: 2em;
}
.choice-tile {
  padding-right: 0.5rem;
}
.choice-tile + .choice-tile {
  padding-right: 0;
  padding-left: 0.5rem;
}
.choice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 1px solid #00b242;
  border-radius: 1.11rem;
  padding: 2.4rem 1.2rem;
}
header .navbar {
  max-width: 960px;
  margin: auto;
  font-size: 1em;
}
header a.navbar-lang-item {
  font-size: 0.8em;
  margin: 0.1em;
  width: 30px;
  color: #bbb;
}
header .navbar-link:after {
  border-color: #67be4b;
}
header .navbar-link {
  margin-left: 0;
  padding-left: 0;
}
header .navbar-link,
header .navbar-item {
  color: #1f1f28;
}
header .navbar-link img.icon,
header .navbar-item img.icon {
  max-width: 25px;
  margin-right: 1em;
}
header .navbar-link:hover,
header .navbar-item:hover {
  background: transparent;
  color: #1f1f28;
}
header .navbar-item.active span.navbar-item-title {
  box-sizing: border-box;
  box-shadow: inset 0 -3px 0 0 #00b242;
}
header .navbar-item.has-dropdown span.navbar-item-title {
  margin-left: 1em;
}
header .navbar-item.signup {
  border-radius: 1em;
  background: #00b242;
  color: #fff;
  margin: 0.5em;
  padding: 0.5em 1em;
}
header .navbar-dropdown {
  border-top: 0px;
}
header .navbar img {
  max-height: 2.5em;
}
header .navbar-lang-item.active {
  color: #000;
}
section .tutorial-links a {
  margin-top: 1em;
  margin-right: 1em;
}
section.introduction {
  padding-top: 5em;
}
section.introduction h1.title {
  font-weight: bold;
  font-size: 2.2em;
  line-height: 1.3em;
}
section.introduction h2.main-subtitle {
  font-size: 1.1em;
  font-weight: 400;
  color: #1f1f28;
  line-height: 1.5em;
  margin-bottom: 2em;
}
section.introduction a.button {
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 2em;
  padding: 1.3em;
}
section.clients img {
  width: 150px;
}
section.conclusion {
  padding-bottom: 0;
  margin-bottom: 0;
}
section.conclusion img {
  top: 35px;
  position: relative;
}
section.conclusion.conclusion-text.content {
  margin-bottom: 0;
}
section.conclusion.conclusion-picture.content {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}
section.use-case h2.subtitle {
  text-align: left;
}
.landing-block.content {
  margin-bottom: 2em;
  padding-bottom: 1em;
}
.landing-block .landing-text p {
  max-width: 300px;
  margin: auto;
}
.landing-block .landing-text h2.subtitle {
  max-width: 300px;
  font-weight: bold;
  line-height: 1.4em;
  text-align: left;
  margin: 0em auto 1em auto;
}
.community img {
  width: 250px;
}
.community .level {
  display: flex;
}
.community .level-item {
  width: 50%;
}
.community .description p {
  padding-top: 0;
}
.community .level.block {
  margin: 0.5em 0;
}
.community .community-link {
  color: #00b242;
}
.ppl {
  padding: 1.5rem;
}
.ppl-image {
  margin: 0 auto;
  max-width: 150px;
}
.ppl-image img {
  width: 150px;
  border-radius: 50%;
}
.ppl-id {
  margin: 1.3rem 0 1.5rem;
  text-align: center;
}
.ppl-id .ppl-id-name {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.ppl-id .ppl-id-role {
  font-size: 1.1rem;
  color: #999;
}
.ppl-description {
  flex: 1;
}
.advisors .ppl-id .ppl-id-name {
  font-size: 1em;
}
.advisors .ppl-id .ppl-id-role {
  font-size: 1em;
}
section.partners {
  padding: 0;
}
section.partners img {
  width: 200px;
}
.community a {
  color: inherit;
}
.community a:hover {
  color: inherit;
}
.pricing-page section.section {
  padding-bottom: 0;
}
.pricing-page h2.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 0;
}
.pricing-page div.section-subtitle {
  font-size: 1.2rem;
  margin-top: 3em;
}
.pricing-page .extra-block {
  background: #f5f5f5;
  border-radius: 1em;
  padding: 1em;
  max-width: 900px;
  margin: 1em auto 2em auto;
}
.pricing-page .extra-block.alinea {
  margin-top: 6em;
}
.pricing-page .extra-block .section-subtitle {
  margin-top: 0;
}
section.pricing {
  max-width: 1200px;
  padding-top: 1em;
}
section.pricing .frequence {
  padding: 0.5em;
  height: auto;
  background: #fff;
  color: #00b242;
}
section.pricing .frequence.active {
  background: #00b242;
  color: #fff;
}
.pricings {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  margin-bottom: 2em;
  flex-wrap: wrap;
  justify-content: center;
}
.pricing-block {
  flex: 1;
  text-align: center;
  margin: 1em;
  min-height: 400px;
  min-width: 180px;
  max-width: 225px;
  box-shadow: 0 4px 16px rgba(0,100,0,0.2);
  background: #fff;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}
.pricing-block .pricing-title {
  font-size: 1.3em;
  font-weight: bold;
  color: #999;
  padding: 0.8em;
}
.pricing-block .pricing-price .pricing-currency {
  font-size: 0.9em;
}
.pricing-block .pricing-price .pricing-value {
  font-size: 1.8em;
}
.pricing-block .pricing-price-info {
  font-size: 0.8em;
  color: #999;
  font-style: italic;
}
.pricing-block .pricing-features {
  flex: 1;
  padding: 1em;
}
.pricing-block .pricing-features ul {
  margin: 0;
  list-style-type: none;
}
.pricing-block .pricing-features li {
  padding: 0.5em 0;
  font-size: 0.9em;
  color: #888;
  border-bottom: 1px solid #eee;
}
.pricing-block .pricing-text {
  align-items: center;
  display: flex;
  color: #999;
}
.pricing-block .pricing-cta {
  padding: 1em;
}
.pricing-block .pricing-cta .button.is-outlined {
  border: 1px solid #67be4b;
  background: #fff;
  color: #67be4b;
  width: 100%;
  transition: transform 0.3s ease;
}
.pricing-block .pricing-cta .button.is-outlined:hover {
  transform: scale(1.05);
}
.pricing-emphasize {
  transform: scale(1.05);
  border: 1px solid #67be4b;
}
.school-details {
  box-shadow: 0 4px 16px rgba(0,50,0,0.2);
  border-radius: 5px;
  padding: 0.6em;
  margin: 0 1em;
  color: #666;
}
.pricing-details {
  color: #999;
  font-style: italic;
}
.section-title {
  display: block;
  font-weight: 900;
  font-size: 3.33rem;
  margin-bottom: 2rem;
}
.kitsu-page .section-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.section-subtitle {
  display: block;
  margin-bottom: 0.9rem;
  font-size: 1.11rem;
  letter-spacing: 0.22em;
  text-transform: uppercase;
  color: #54656f;
}
.js-tabs {
  display: flex;
  align-items: flex-start;
  margin-top: 3.5rem;
}
.js-tabs .js-tablist {
  box-sizing: border-box;
  flex: 0 0 33%;
  list-style: none;
  padding: 0 1em 0 0;
  margin: 0;
}
.js-tabs .js-tablist__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  border-radius: 0.55rem;
  opacity: 0.4;
  color: #1f1f28;
  font-size: 1.1em;
  font-weight: bold;
}
.js-tabs .js-tablist__link:active,
.js-tabs .js-tablist__link:focus,
.js-tabs .js-tablist__link[aria-selected=true] {
  background-color: rgba(0,178,66,0.1);
  opacity: 1;
  outline: 0;
}
.js-tabs .js-tablist__link img {
  margin-right: 1.28rem;
  width: 2.8rem;
  flex: 0 0 auto;
}
.js-tabs .js-tabcontent {
  box-sizing: border-box;
  flex: 1 1 66%;
  background-color: #f5f5f5;
  border-radius: 0.55rem;
  padding: 2.22rem;
}
.quote {
  background-color: #f5f5f5;
  padding: 6.5rem;
}
.quote-text {
  border-left: 8px solid #00b242;
  padding-left: 2.22rem;
  line-height: 1.3;
  font-size: 2em;
  font-weight: bold;
  color: #54656f;
}
.quote-text p:before {
  content: "“";
}
.quote-text p:after {
  content: "”";
}
.quote-author {
  display: flex;
  align-items: center;
  margin-top: 0.8rem;
  font-size: 1.45rem;
  color: #00b242;
  font-weight: normal;
}
.quote-avatar {
  border-radius: 50%;
  margin-right: 0.8rem;
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
}
.quote-text--alt {
  border-color: #8a53d1;
}
.quote-text--alt .quote-author {
  color: #8a53d1;
}
.check-list {
  list-style: none;
  margin: 0 0 2.5rem;
  padding: 0;
  font-size: 1.22em;
  line-height: 1.8;
}
.check-list li::before {
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1rem;
  margin-right: 0.8rem;
  background: url("/images/check.svg") 0 0/contain no-repeat;
}
.customers {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.customers-item {
  flex: 0 0 auto;
  width: 9.95rem;
  height: 9.95rem;
  margin: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.customers-item:nth-child(14n+1) {
  background-color: #ff6bc2;
}
.customers-item:nth-child(14n+2) {
  background-color: #c149c4;
}
.customers-item:nth-child(14n+3) {
  background-color: #8a53d1;
}
.customers-item:nth-child(14n+4) {
  background-color: #92d277;
}
.customers-item:nth-child(14n+5) {
  background-color: #2bd1b8;
}
.customers-item:nth-child(14n+6) {
  background-color: #24c15e;
}
.customers-item:nth-child(14n+7) {
  background-color: #257cde;
}
.customers-item:nth-child(14n+8) {
  background-color: #4c4ba2;
}
.customers-item:nth-child(14n+9) {
  background-color: #ffab0d;
}
.customers-item:nth-child(14n+10) {
  background-color: #25b1f3;
}
.customers-item:nth-child(14n+11) {
  background-color: #ff700d;
}
.customers-item:nth-child(14n+12) {
  background-color: #9bbe27;
}
.customers-item:nth-child(14n+13) {
  background-color: #ff195e;
}
.customers-item:nth-child(14n+14) {
  background-color: #ce2358;
}
.customers--spread .customers-item {
  flex: 1 1 9.95rem;
}
.trial {
  position: relative;
}
.trial:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7.2%;
  background-color: #00b242;
  z-index: 1;
}
.trial-content {
  position: relative;
  bottom: 0;
  z-index: 2;
  background: transparent url("/images/illustration-free-trial.svg") bottom center/contain no-repeat;
}
.content-image {
  padding-left: 3rem;
}
.content-reverse {
  flex-direction: row-reverse;
}
.content-reverse .content-image {
  padding-left: 0;
  padding-right: 3rem;
}
.modal iframe {
  position: absolute;
  top: 0;
  left: 0;
}
.footer {
  background: #00b242;
  color: #fff;
  font-size: 1.1em;
  padding: 0;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer .columns {
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 920px;
  margin: 0 auto;
}
.footer .address {
  color: #999;
  padding-left: 20px;
}
.footer .column {
  padding-top: 1.8em;
}
.footer .logo-column {
  padding-top: 1.2em;
}
.footer .footer-title {
  font-weight: bold;
  text-transform: capitalize;
  font-style: capitalize;
  margin-bottom: 1em;
  font-size: 1.15em;
  padding: 0;
}
.footer .footer-of-footer {
  background: #fff;
  color: #1f1f28;
  padding: 1em;
}
.footer li {
  display: flex;
  margin-bottom: 1em;
}
.footer img {
  margin: 0 1em 0em 0;
}
.cookie-consent {
  background: #00b242;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  position: fixed;
  max-height: 70px;
  align-item: center;
  z-index: 200;
}
.cookie-consent .flexrow-item {
  flex: auto;
}
.cookie-consent p.text {
  flex: 1;
}
.cookie-consent p.cookie-choice {
  max-width: 150px;
  padding: 0;
  margin-right: 30px;
  flex: none;
}
.cookie-consent button,
.cookie-consent button:focus,
.cookie-consent button:active {
  max-width: 100px;
  border-radius: 0;
  padding: 0.3em;
  margin-left: 1em;
}
.cookie-consent .default {
  border: 2px solid #fff;
}
.js-tabs [aria-hidden] {
  display: none;
}
@media (max-width: 800px) {
  .cookie-consent {
    max-height: 100%;
    overflow-y: auto;
    flex-direction: column;
  }
  .cookie-consent button {
    padding: 0.5em;
  }
  .cookie-consent p.choice {
    margin-top: 0.5em;
    margin-right: 0;
  }
  h1.title {
    font-size: 1.6em;
    margin-bottom: 0;
  }
  h2.subtitle.tagline {
    font-size: 1.6em;
  }
  .section.content {
    padding: 1em;
  }
  .section.content h3 {
    margin-top: 0.2em;
  }
  pre {
    padding: 1em 0;
    font-size: 0.7em;
  }
  header a.navbar-lang-item {
    text-align: center;
  }
  .landing-block .flexrow,
  .introduction .flexrow {
    flex-direction: column;
  }
  .landing-block .flexrow.reverse,
  .introduction .flexrow.reverse {
    flex-direction: column-reverse;
  }
  .landing-block .flexrow-item,
  .introduction .flexrow-item {
    width: 100%;
    margin-right: 0;
  }
  .landing-block .landing-text,
  .introduction .landing-text,
  .landing-block .landing-picture,
  .introduction .landing-picture,
  .landing-block .introduction-text,
  .introduction .introduction-text {
    margin-bottom: 2em;
  }
  .tutorial-links a {
    margin-right: 0;
    font-size: 0.8em;
  }
  .block {
    flex-wrap: wrap;
  }
  .block.flexrow {
    margin-bottom: 0;
  }
  .block .flexrow-item {
    min-width: 300px;
    width: 100%;
    margin-right: 0;
  }
  .block .level-item {
    width: 100%;
  }
  .ppl {
    flex-direction: column;
  }
  .ppl .flexrow-item {
    margin-right: 0;
  }
  .ppl .ppl-image {
    margin-bottom: 1em;
  }
  .content table {
    font-size: 0.7em;
  }
  .community .description p {
    padding-left: 0;
    padding-right: 0;
  }
  .js-tabs {
    flex-direction: column;
  }
  .js-tablist {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .quote {
    padding: 3em;
    font-size: 0.6em;
  }
  .quote-author {
    font-size: 0.7em;
  }
  .trial::after {
    display: none;
  }
  .trial-content {
    background: none;
  }
  .choice-tile {
    padding: 0 0 1rem 0;
  }
  .choice-tile + .choice-tile {
    padding: 0 0 1rem 0;
  }
  .content-image,
  .content-reverse .content-image {
    padding: 2rem 0 0 0;
  }
}
