html,
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
section {
  max-width: 950px;
  margin: auto;
}
section a {
  color: #00b242;
}
section a:hover {
  color: #67be4b;
}
section .block {
  margin: 4em 0 0 0;
}
section .block h3 {
  margin-top: 1em;
}
section .block.middle-block {
  margin-top: 6em;
  margin-bottom: 4em;
}
.filler {
  margin-bottom: 14em;
}
.flexrow {
  display: flex;
  align-items: center;
}
.flexrow-item {
  flex: 1;
  align-items: center;
  margin-right: 2em;
}
.team-info .ppl-image {
  max-width: 150px;
}
h2.subtitle {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
  text-align: center;
}
h2.subtitle.tagline {
  font-size: 1.9em;
  line-height: 1.3em;
  max-width: 550px;
  margin: auto;
  font-weight: bold;
  margin-bottom: 1em;
}
p.tagline-explaination {
  font-size: 1.1em;
  color: #1f1f28;
  line-height: 1.5em;
  margin-bottom: 2em;
}
.button,
.button:focus {
  color: #fff;
  background-color: #00b242;
  border: 1px solid #00b242;
  border-radius: 2em;
  padding: 1.2em;
}
.button:hover {
  color: #fff;
  background-color: #67be4b;
  border: 1px solid #67be4b;
}
.button.is-large {
  font-size: 1.2em;
}
.input:focus {
  border: 1px solid #00b242;
}
header .navbar {
  max-width: 950px;
  margin: auto;
  font-size: 1em;
}
header a.navbar-lang-item {
  font-size: 0.8em;
  color: #bbb;
}
header .navbar-link:after {
  border-color: #00b242;
}
header .navbar-link {
  margin-left: 0;
  padding-left: 0;
}
header .navbar-link,
header .navbar-item {
  color: #1f1f28;
}
header .navbar-link img.icon,
header .navbar-item img.icon {
  max-width: 25px;
  margin-right: 1em;
}
header .navbar-link:hover,
header .navbar-item:hover {
  background: transparent;
  color: #1f1f28;
}
header .navbar-item.active span.navbar-item-title {
  box-sizing: border-box;
  box-shadow: inset 0 -3px 0 0 #00b242;
}
header .navbar-item.signup {
  border-radius: 1em;
  background: #00b242;
  color: #fff;
  margin: 0.5em;
  padding: 0.5em 1em;
}
header .navbar-dropdown {
  border-top: 0px;
}
header .navbar img {
  max-height: 2.5em;
}
header .navbar-lang-item.active {
  color: #000;
}
section.introduction {
  padding-top: 5em;
}
section.introduction h1.title {
  font-weight: bold;
  font-size: 2.2em;
  line-height: 1.3em;
}
section.introduction h2.main-subtitle {
  font-size: 1.1em;
  font-weight: 400;
  color: #1f1f28;
  line-height: 1.5em;
  margin-bottom: 2em;
}
section.introduction a.button {
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 2em;
  padding: 1.3em;
}
section.conclusion {
  padding-bottom: 0;
  margin-bottom: 0;
}
section.conclusion img {
  top: 35px;
  position: relative;
}
section.conclusion.conclusion-text.content {
  margin-bottom: 0;
}
section.conclusion.conclusion-picture.content {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}
.landing-block.content {
  margin-bottom: 2em;
  padding-bottom: 1em;
}
.landing-block .landing-text p {
  max-width: 300px;
  margin: auto;
}
.landing-block .landing-text h2.subtitle {
  max-width: 300px;
  font-weight: bold;
  line-height: 1.4em;
  text-align: left;
  margin: 0em auto 1em auto;
}
.community img {
  width: 250px;
}
.community .level {
  display: flex;
}
.community .level-item {
  width: 50%;
}
.community .description p {
  padding-top: 0;
}
.community .level.block {
  margin: 0.5em 0;
}
.ppl {
  width: 150px;
  border-radius: 50%;
}
.ppl-description {
  flex: 1;
}
section.partners {
  padding: 0;
}
.community a {
  color: inherit;
}
.community a:hover {
  color: inherit;
}
.pricings {
  display: flex;
  flex-direction: row;
  margin-top: 4em;
  margin-bottom: 2em;
  flex-wrap: wrap;
}
.pricing-block {
  flex: 1;
  text-align: center;
  margin: 1em;
  min-height: 400px;
  min-width: 200px;
  box-shadow: 0 4px 16px rgba(0,50,0,0.2);
  background: #fff;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}
.pricing-block .pricing-title {
  font-size: 1.3em;
  font-weight: bold;
  color: #999;
  padding: 0.8em;
}
.pricing-block .pricing-price .pricing-currency {
  font-size: 0.9em;
}
.pricing-block .pricing-price .pricing-value {
  font-size: 1.8em;
}
.pricing-block .pricing-features {
  flex: 1;
  padding: 1em;
}
.pricing-block .pricing-features ul {
  margin: 0;
  list-style-type: none;
}
.pricing-block .pricing-features li {
  padding: 0.5em 0;
  font-size: 0.9em;
  color: #888;
  border-bottom: 1px solid #eee;
}
.pricing-block .pricing-text {
  align-items: center;
  display: flex;
  color: #999;
}
.pricing-block .pricing-cta {
  padding: 1em;
}
.pricing-block .pricing-cta .button.is-outlined {
  border: 1px solid #00b242;
  background: #fff;
  color: #00b242;
  width: 100%;
  transition: transform 0.3s ease;
}
.pricing-block .pricing-cta .button.is-outlined:hover {
  transform: scale(1.05);
}
.pricing-emphasize {
  transform: scale(1.05);
  border: 1px solid #00b242;
}
.school-details {
  box-shadow: 0 4px 16px rgba(0,50,0,0.2);
  border-radius: 5px;
  padding: 0.6em;
  margin: 0 1em;
  color: #666;
}
.pricing-details {
  color: #999;
  font-style: italic;
}
footer {
  background: #00b242;
  color: #fff;
  font-size: 1.1em;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #fff;
  text-decoration: underline;
}
footer .columns {
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 920px;
  margin: 0 auto;
}
footer .address {
  color: #999;
  padding-left: 20px;
}
footer .column {
  padding-top: 1.8em;
}
footer .logo-column {
  padding-top: 1.2em;
}
footer .footer-title {
  font-weight: bold;
  text-transform: capitalize;
  font-style: capitalize;
  margin-bottom: 1em;
  font-size: 1.15em;
  padding: 0;
}
footer .footer-of-footer {
  background: #fff;
  color: #1f1f28;
  padding: 1em;
}
footer li {
  display: flex;
  margin-bottom: 1em;
}
footer img {
  margin: 0 1em 0em 0;
}
@media (max-width: 800px) {
  h1.title {
    font-size: 1.6em;
    margin-bottom: 0;
  }
  h2.subtitle.tagline {
    font-size: 1.6em;
  }
  .section.content {
    padding: 1em;
  }
  .section.content h3 {
    margin-top: 0.2em;
  }
  pre {
    padding: 1em 0;
    font-size: 0.7em;
  }
  .landing-block .flexrow,
  .introduction .flexrow {
    flex-direction: column;
  }
  .landing-block .flexrow.reverse,
  .introduction .flexrow.reverse {
    flex-direction: column-reverse;
  }
  .landing-block .flexrow-item,
  .introduction .flexrow-item {
    width: 100%;
    margin-right: 0;
  }
  .landing-block .landing-text,
  .introduction .landing-text,
  .landing-block .landing-picture,
  .introduction .landing-picture,
  .landing-block .introduction-text,
  .introduction .introduction-text {
    margin-bottom: 2em;
  }
  .block {
    flex-wrap: wrap;
  }
  .block.flexrow {
    margin-bottom: 0;
  }
  .block .flexrow-item {
    min-width: 300px;
    width: 100%;
    margin-right: 0;
  }
  .block .level-item {
    width: 100%;
  }
  .team-info {
    flex-direction: column;
  }
  .team-info .flexrow-item {
    margin-right: 0;
  }
  .team-info .ppl-image {
    margin-bottom: 1em;
  }
  .community .description p {
    padding-left: 0;
    padding-right: 0;
  }
}
