section
    max-width: 750px
    margin: auto

h1.title
    margin-top: 1em
    font-size: 3em

h2.subtitle
    margin-top: 1em
    font-size: 1.5em

p
li
    font-size: 16px

.newsletter-form .submit-button
    margin-left: 0.5em

.email
    margin-right: 1em
