   <footer class="footer">
      <div class="columns">

        <div class="column">
          <p class="footer-title">
            {{__ 'footers title media'}}
          </p>
          <ul>
            <li>
              <a href="https://twitter.com/cgwirenews" class="level">
                <span>
                  Twitter
                </span>
              </a>
            </li>
            <li>
              <a href="https://instagram.com/cgwire" class="level">
                <span>
                  Instagram
                </span>
              </a>
            </li>
           <li>
              <a href="https://www.linkedin.com/company/cgwire/" class="level">
                <span>
                  Linkedin
                </span>
              </a>
            </li>
            <li>
              <a href="https://github.com/cgwire" class="level">
                <span>
                  Github
                </span>
              </a>
            </li>
          </ul>
        </div>

        <div class="column">
          <p class="footer-title">
            {{__ 'footers title company'}}
          </p>
          <ul>
            <li>
              <a href="https://cgwire.canny.io/" class="level">
                <span class="level-item">
                  Roadmap
                </span>
              </a>
            </li>
            <li>
              <a href="/{{ locale }}/about.html" class="level">
                <span class="level-item">
                  {{__ 'footers link about'}}
                </span>
              </a>
            </li>
            <li>
              <a href="/{{ locale }}/contact.html" class="level">
                <span class="level-item">
                  {{__ 'footers link contact'}}
                </span>
              </a>
            </li>
            <li>
              <a href="/{{ locale }}/terms.html" class="level">
                <span class="level-item">
                  {{__ 'footers link terms '}}
                </span>
              </a>
            </li>
            <li>
              <a href="/{{ locale }}/privacy.html" class="level">
                <span class="level-item">
                  {{__ 'footers link privacy '}}
                </span>
              </a>
            </li>
          </ul>
        </div>

        <div class="column">
          <p class="footer-title">
            {{__ 'footers title solutions'}}
          </p>
          <ul>
            <li>
              <a href="/{{ locale }}/kitsu.html" class="level">
                <span class="level-item">
                  {{__ 'header title kitsu'}}
                </span>
              </a>
            </li>
            <li>
              <a href="/{{ locale }}/api.html" class="level">
                <span class="level-item">
                  {{__ 'header title zou'}}
                </span>
              </a>
            </li>
            <li>
              <a href="/{{ locale }}/spreadsheets.html" class="level">
                <span class="level-item">
                  {{__ 'header title spreadsheets'}}
                </span>
              </a>
            </li>
            <li>
              <a href="https://kitsu.cg-wire.com" class="level">
                <span class="level-item">
                  {{__ 'header title documentation'}}
                </span>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/playlist?list=PLp_1gB5ZBHXqnQgZ4TCrAt7smxesaDo29" class="level">
                <span class="level-item">
                  {{__ 'header title tutorials'}}
                </span>
              </a>
            </li>
            <li>
              <a href="https://hub.docker.com/r/cgwire/cgwire" class="level">
                <span class="level-item">
                  {{__ 'header title docker'}}
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="column">
          <p class="footer-title">
            {{__ 'header title locales'}}
          </p>
          <ul>
            <li>
              <a href="/en">
                <span>
                  English
                </span>
              </a>
            </li>
            <li>
              <a href="/fr">
                <span>
                  French
                </span>
              </a>
            </li>
            <li>
              <a href="/cn">
                <span>
                  Chinese
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="has-text-centered footer-of-footer">
        {{__ 'footers conclusion text1' }} &hearts;
        {{__ 'footers conclusion text2' }}
      </div>
    </footer>
