<header>
  <nav class="navbar" role="navigation" arial-label="dropdown navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/{{ locale }}">
        <img class="main-logo" src="images/logo.svg" alt="CGWire logo"/>
      </a>
    <div class="burger navbar-burger" data-target="top-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>
    <div class="navbar-menu" id="top-menu">
      <div class="navbar-start">
      </div>
      <div class="navbar-end">
        <div class="navbar-item has-drodown is-hoverable">
          <a class="navbar-link">
            {{__ 'header title solutions'}}
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item flexrow" href="/{{ locale }}/kitsu.html">
              <img class="flexrow-item icon" src="/images/kitsu.png">
              <span class="flexrow-item">{{__ 'header title kitsu'}}</span>
            </a>
            <a class="navbar-item flexrow" href="/{{ locale }}/zou.html">
              <img class="flexrow-item icon" src="/images/zou.png">
              <span class="flexrow-item">{{__ 'header title zou'}}</span>
            </a>
            <a class="navbar-item flexrow" href="/{{ locale }}/gazu.html">
              <img class="flexrow-item icon" src="/images/gazeru.png">
              <span class="flexrow-item">{{__ 'header title gazu'}}</span>
            </a>
          </div>
        </div>

        <a class="navbar-item" href="/{{ locale }}/pricing.html">
          {{__ 'header title pricing'}}
        </a>
        <a class="navbar-item" href="/{{ locale }}/community.html">
          {{__ 'header title community'}}
        </a>
        <a class="navbar-item" href="https://medium.com/cgwire">
          {{__ 'header title blog'}}
        </a>
        <div class="navbar-item">
            <a class="navbar-lang-item" href="/">EN</a> &nbsp;|&nbsp;
            <a class="navbar-lang-item" href="/fr">FR</a>
        </div">
      </div>
    </div>
  </div>
</header>
