<header>
  <nav class="navbar" role="navigation" arial-label="dropdown navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/{{ locale }}">
        <img class="main-logo" src="images/logo.svg" alt="CGWire logo"/>
      </a>
      <div class="burger navbar-burger" data-target="top-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-menu" id="top-menu">
      <div class="navbar-start flexrow locales">
        <a href="/fr" class="flexrow-item navbar-lang-item">FR</a>
        <a href="/en" class="flexrow-item navbar-lang-item">EN</a>
      </div>
        <div class="navbar-item has-dropdown is-hoverable {{#if_eq name "solution"}}active{{/if_eq}}">
          <a class="navbar-link">
            <span class="navbar-item-title">
              {{__ 'header title solutions'}}
            </span>
          </a>
          <div class="navbar-dropdown">
            <a
              class="navbar-item flexcolumn subnav-element"
              href="/{{ locale }}/kitsu.html"
            >
              <span class="flexrow-item subnav-title">{{__ 'header title kitsu'}}</span>
              <span class="flexrow-item subnav-text">
                {{__ 'header text kitsu'}}
              <span>
            </a>
            <a
              class="navbar-item flexcolumn subnav-element"
              href="/{{ locale }}/api.html"
            >
              <span class="flexrow-item subnav-title">{{__ 'header title zou'}}</span>
              <span class="flexrow-item subnav-text">
                {{__ 'header text database'}}
              </span>
            </a>

            <a
              class="navbar-item flexcolumn subnav-element"
              href="/{{ locale }}/integrations.html"
            >
              <span class="flexrow-item subnav-title">{{__ 'header title integrations'}}</span>
              <span class="flexrow-item subnav-text">
                {{__ 'header text integrations'}}
              <span>
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable {{#if_eq name "usecase"}}active{{/if_eq}}">
          <a class="navbar-link">
            <span class="navbar-item-title">
              {{__ 'header title usecase'}}
            </span>
          </a>

          <div class="navbar-dropdown">
          <a 
            class="navbar-item flexcolumn subnav-element" 
            href="/{{ locale }}/studios.html"
          >
              <span class="flexrow-item subnav-title">{{__ 'header title studios'}}</span>
              <span class="flexrow-item subnav-text">
                {{__ 'header text studios' }}
              <span>
            </a>
            <hr />
            <a
              class="navbar-item flexcolumn subnav-element" 
              href="/{{ locale }}/tvshows.html"
            >
              <span class="flexrow-item subnav-title">{{__ 'header title tvshow'}}</span>
              <span class="flexrow-item subnav-text">
                {{__ 'header text tvshow' }}
              <span>
            </a>

            <a
              class="navbar-item flexcolumn subnav-element" 
              href="/{{ locale }}/shorts.html"
            >
              <span class="flexrow-item subnav-title">{{__ 'header title short'}}</span>
              <span class="flexrow-item subnav-text">
                {{__ 'header text short' }}
              <span>
            </a>

            <a 
              class="navbar-item flexcolumn subnav-element" 
              href="/{{ locale }}/schools.html"
            >
              <span class="flexrow-item subnav-title">{{__ 'header title school'}}</span>
              <span class="flexrow-item subnav-text">
                {{__ 'header text schools' }}
              <span>
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable {{#if_eq name "community"}}active{{/if_eq}} {{#if_eq name "spreadsheets"}}active{{/if_eq}}">
          <a class="navbar-link">
            <span class="navbar-item-title">
              {{__ 'header title resources'}}
            </span>
          </a>

          <div class="navbar-dropdown">

            <a
              class="navbar-item flexcolumn subnav-element"
              href="https://blog.cg-wire.com"
              target="_blank"
            >
              <span class="flexrow-item subnav-title">
                {{__ 'header title blog'}}
              </span>
              <span class="flexrow-item subnav-text">
                {{__ 'header text blog'}}
              <span>
            </a>
  
            <a
              class="navbar-item flexcolumn subnav-element"
              href="https://www.youtube.com/playlist?list=PLp_1gB5ZBHXqnQgZ4TCrAt7smxesaDo29"
              target="_blank"
            >
              <span class="flexrow-item subnav-title">
                {{__ 'header title tutorials'}}
              </span>
              <span class="flexrow-item subnav-text">
                {{__ 'header text tutorials'}}
              <span>
            </a>

            {{#if_eq locale "fr"}}
            <a
              class="navbar-item flexcolumn subnav-element"
              href="https://www.youtube.com/playlist?list=PLp_1gB5ZBHXqnJK6wKf2GIu964KsbqCqJ"
              target="_blank"
            >
              <span class="flexrow-item subnav-title">
                {{__ 'header title conferences'}}
              </span>
              <span class="flexrow-item subnav-text">
                {{__ 'header text conferences'}}
              <span>
            </a>
            {{/if_eq}}

            <a
              class="navbar-item flexcolumn subnav-element"
              href="/{{ locale }}/community.html"
            >
              <span class="flexrow-item subnav-title">
                {{__ 'header title community'}}
              </span>
              <span class="flexrow-item subnav-text">
                {{__ 'header text community'}}
              <span>
            </a>
          
            <a 
              class="navbar-item flexcolumn subnav-element"
              href="/{{ locale }}/spreadsheets.html"
            >
              <span class="flexrow-item subnav-title">
                {{__ 'header title spreadsheets'}}
              </span>
              <span class="flexrow-item subnav-text">
                {{__ 'header text spreadsheets'}}
              <span>
            </a>
          </div>
        </div>

        <a
          class="navbar-item {{#if_eq name "pricing"}}active{{/if_eq}}"
          href="/{{ locale }}/pricing.html"
        >
          <span class="navbar-item-title">
            {{__ 'header title pricing'}}
          </span>
        </a>

      <div class="navbar-end">
        <a class="navbar-item signin" href="https://account.cg-wire.com/{{ locale }}/login">
          {{__ 'header sign in'}}
        </a>
        <a class="navbar-item signup" href="https://account.cg-wire.com/{{ locale }}/signup">
          {{__ 'header sign up'}}
        </a>
      </div>
    </div>
  </div>
</header>
<div class="header-padding"></div>
