<header>
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="http://cg-wire.com">
        <img class="main-logo" src="images/logo.svg" alt="CGWire logo"/>
      </a>
    <div class="burger navbar-burger" data-target="top-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>
    <div class="navbar-menu" id="top-menu">
      <div class="navbar-start">
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="https://medium.com/@cgwire">Blog</a>
        <div class="navbar-item">
            <a class="navbar-lang-item" href="/">EN</a> &nbsp;|&nbsp;
            <a class="navbar-lang-item" href="/fr">FR</a>
        </div">
      </div>
    </div>
  </div>
</header>
