---
layout: base.html

metaTitle: about title
metaDescription: about explaination one
permalink: false

locale:
pathTo: .
---

{{> header }}

  <section class="section content">
  <h2 class="subtitle">
    {{__ 'about tagline'}}
  </h2>
  <p>
    {{__ 'about explaination one'}}
  </p>
    
  <p>
    {{__ 'about team explaination'}}
  </p>

  <h2 class="subtitle">
    {{__ 'about partners title'}}
  </h2>
  <p>
  </p>

  </section>

{{> footer }}
