---
metaTitle: pricing title
metaDescription: pricing explaination one
permalink: false

name: pricing
locale:
pathTo: .
---

{{> header }}


<section class="section">
<h1 class="subtitle has-text-centered">
  Kitsu Hosting Price Calculator
</h1>
<p class="has-text-centered">
Define a price from your staff presence all along the production.
</p>


<div class="columns calculator mt2">
  <div class="column">
  <p>
  <label class="label">
    Duration
  </label>
  <div class="select">
    <select id="duration">
      <option value="5">0 - 5 months</option>
      <option value="11">6 - 11 months (-10%)</option>
      <option value="17">12 - 17 months (-20%)</option>
      <option value="24">18 - 24 months (-30%)</option>
    </select>
  </div>
  <p class="mt2">
    <label class="label">
      Expected staff members
    </p>
    <div id="staff">
      <p>Month 1: <input class="staffnumber input" type="number" size="3" value="0" min="0" /></p>
      <p>Month 2: <input class="staffnumber input" type="number" size="3" value="0" min="0" /></p>
      <p>Month 3: <input class="staffnumber input" type="number" size="3" value="0" min="0" /></p>
      <p>Month 4: <input class="staffnumber input" type="number" size="3" value="0" min="0" /></p>
      <p>Month 5: <input class="staffnumber input" type="number" size="3" value="0" min="0" /></p>
    </div>
    <p class="mt2">
      <label class="label">
        Storage
      </label>
      <div class="flexrow">
        1TB for free + <input id="storage" class="input" type="number" size="2" value="0" min="0" /> TB x 30€ / month
    </div>
    </p>
    <p class="mt2">
      <label class="label">
        Hosting
      </label>
      <div class="select">
        <select id="hosting" value="0">
          <option value="0">Cloud hosting (+0€)</option>
          <option value="999">On-premise (+999€)</option>
        </select>
      </div>
    </p>
  </div>

  <div class="column">
    <strong>
      Price for your production
    </strong>
    <table class="result">
    <tr>
      <td></td><td>Staff members</td><td><span id="totalstaff">0</span>€</td>
    </tr>
    <tr>
      <td>+</td><td>Storage</td><td><span id="totalstorage">0</span>€</td>
    </tr>
    <tr>
      <td>+</td><td>Setup cost</td><td><span id="totalhosting">0</span>€</td>
    </tr>
    <tr>
      <td>-</td><td>Discount</td><td><span id="totaldiscount">0</span>€</td>
    </tr>
    <tr>
      <td>=</td><td>Total</td><td><span id="total">0</span>€</td>
    </tr>
    </table>
  </div>
</div>
</section>

<script>
  var durationSelect = document.getElementById('duration')
  var staffDiv = document.getElementById('staff')
  var staffTotalSpan = document.getElementById('totalstaff')
  var discountSpan = document.getElementById('totaldiscount')
  var staffTotal = 0 
  var nbMonths = 5
  var nbStorageMonths = 0
  var discount = 0

  var storageInput = document.getElementById('storage')
  var storageTotalSpan = document.getElementById('totalstorage')
  var storageTotal = 0 
  var terabytes = 0

  var hostingSelect = document.getElementById('hosting')
  var hostingTotalSpan = document.getElementById('totalhosting')
  var hostingTotal = 0 

  var totalSpan = document.getElementById('total')
  var total = 0 

  function updateStorageTotal () {
    storageTotal = terabytes * nbStorageMonths * 30
	storageTotalSpan.innerHTML = storageTotal
    updateTotal()
  }

  function updateStaffTotal () {
    staffTotal = 0
    nbStorageMonths = 0
    var els = document.getElementsByClassName('staffnumber')
    for (i = 0 ; i < els.length ; i++) {
      var staffNum = els[i].value
      if (staffNum == 0) {
        staffTotal += 0
        els[i].parentNode.children[1].innerHTML = '+ 0€ (empty)'
      } else if (staffNum < 4) {
        staffTotal += 49
        els[i].parentNode.children[1].innerHTML = '+ 49€ (tiny)'
      } else if (staffNum < 11) {
        staffTotal += 174
        els[i].parentNode.children[1].innerHTML = '+ 174€ (tiny+)'
      } else if (staffNum < 31) {
        staffTotal += 499 
        els[i].parentNode.children[1].innerHTML = '+ 499€ (small)'
      } else if (staffNum < 71) {
        staffTotal += 1249 
        els[i].parentNode.children[1].innerHTML = '+ 1249€ (medium)'
      } else if (staffNum >= 71) {
        var count = 1249 + (staffNum - 70) * 25
        staffTotal += count 
        els[i].parentNode.children[1].innerHTML = '+ ' + count + '€ (large)'
      }

      if (staffNum > 0) nbStorageMonths += 1
    }
    staffTotalSpan.innerHTML = staffTotal
    updateStorageTotal()
    updateTotal()
  }

  function updateHostingTotal () {
	hostingTotalSpan.innerHTML = hostingTotal
    updateTotal()
  }

  function updateTotal () {
    total = staffTotal + storageTotal + Number(hostingTotal)
    if (nbStorageMonths < 6) discount = 0
    else if (nbStorageMonths < 12) discount = 10
    else if (nbStorageMonths < 18) discount = 20
    else discount = 30 
    var minus = Math.ceil((discount * total) / 100)
	discountSpan.innerHTML = minus
    total = total - minus

    totalSpan.innerHTML = total
  }

  function createStaffInputs () {
    html = ''
    for (var i = 1; i <= nbMonths; i++) {
      var num = '' + i
      if (i < 10) num = '0' + i
      html += '<p class="flexrow">Month ' + num + ': <input class="staffnumber input" type="number"'
              + ' size="3" value="0" min="0" /><span>+ 0€ (empty)</span></p>'
    }
	staffDiv.innerHTML = html
    var els = document.getElementsByClassName('staffnumber')
    for (i = 0 ; i < els.length ; i++) {
      els[i].addEventListener('input', staffNumberChanged)
    }
  }

  function durationChanged (event) {
    nbMonths = event.target.value
    createStaffInputs()
    updateStorageTotal()
  }

  function staffNumberChanged (event) {
    updateStaffTotal()
  }

  function storageChanged (event) {
    terabytes = event.target.value
    updateStorageTotal()
  }

  function hostingChanged (event) {
    hostingTotal = event.target.value
    updateHostingTotal()
  }

  durationSelect.addEventListener('click', durationChanged)
  storageInput.addEventListener('click', storageChanged)
  hostingSelect.addEventListener('click', hostingChanged)
  createStaffInputs()
  </script>
</div>

{{> footer }}
