---
layout: base.html

title: main title
metaTitle: main title
metaDescription: home sub title
homepage: true

permalink: false

locale:
pathTo: .
from: home
---

{{> header }}

  <header class="">
  header
  </header>
  <section>
  {{ title }}
  content 
  </section>

{{> footer }}
