---
layout: base.html

metaTitle: Synchronisez votre pipeline avec votre gestion de production
metaDescription: Bien gérer une production et avoir un pipeline efficace sont deux challenges chez les studios qui fabriquent des films ou des séries d'animation. Au début on s'en sort avec de l'organisation et du bon sens. Mais quand les prods sont plus conséquentes ou que les délais raccourcissent, on se retrouve vite submergé.

permalink: false

locale:
pathTo: .
from: home
---

{{> header }}

  <section class="section has-text-centered content introduction">
    <img src="images/logo.png" />
    <h1 class="title">Synchronisez votre pipeline 
    avec votre gestion de production</h1>
  </section>

  <section class="section content">
  <h2 class="subtitle">Fabriquer un film d'animation, c'est plus qu'un
  challenge artistique</h2>
  <p>
    Bien gérer une production et avoir un pipeline
    efficace sont deux challenges chez les studios qui fabriquent des
    films ou des séries d'animation. Au début on s'en sort avec de l'organisation
    et du bon sens.
    Mais quand les prods sont plus conséquentes ou que les délais
    raccourcissent, on se retrouve vite submergé. Les graphistes
    recherchent toujours leurs fichiers, le suivi des validations devient
    difficile et on ne compte plus le nombre de tâches
    répétitives sans valeur artistique.
    
  <p>
    Alors vient l'idée de monter une équipe technique pour se constituer une
    série d'outils. Malheureusement, s'organiser pour réaliser de bons
    développement informatique, ce n'est pas trivial et les résultats sont
    longs à percevoir. D'autant plus que votre coeur de métier c'est l'image et
    non le logiciel.
  </p>

  <p>
    La bonne nouvelle c'est que chez CGWire, ce sont des problématiques que
    nous connaissons bien. Entre nos expériences dans les studios et notre
    savoir faire de développeurs, nous avons de quoi vous prêter main
    forte.
  </p>
  </section>

  <section class="section content">
  <h2 class="subtitle">Comment nous pouvons vous aider ?</h2>
  <p>
  Pour vous accompagner, nous proposons des prestations sur les points suivants
  : </p>

  <ul>
    <li> 
    On vous met à disposition des outils open source pour gérer votre
    production et vos assets au mieux.
    </li>
    <li>
    On vous aide à organiser vos équipes techniques en mettant en place des
    bonnes pratiques logicielles (agile, versionning, intégration continue).
    </li>
    <li>
    Et enfin, on développe des fonctionnalités spécifiques autour de nos
    outils pour enrichir votre pipeline et automatiser vos actions récurrentes.
    </li>
  </ul>
  </section>

  <section class="section content has-text-centered">
    <h2 class="subtitle">Intéressé(e) ?</h2>
    <p>
      Si vous voulez en discuter, le plus simple c'est de nous envoyer un
      message ! Nous pourrons venir à votre rencontre pour en parler
      avec vous.
    </p>
    <p>
      <a href="mailto:skreeneo@skreeneo.com" class="button is-large">
      Contactez nous
      </a>
    </p>
  </section>

  <section class="section content">
    <h2 class="subtitle">Découvrez nos solutions libres et open source</h2>
    <p>
    Pour vous aider nous vous travaillons sur une série de logiciels pour vous
    enrichir votre pipe. Voici les trois briques sur lesquels nous progressons :
    </p>
    <div class="columns">
      <div class="column app">
        <p class="has-text-centered">
          <a href="https://github.com/cgwire/cgwire-api">
            <img src="images/zou.png" />
          </a>
        </p>
        <p>
          <strong>Zou</strong>, une API pour stocker et gérer les données de vos prods.
        </p>
        <p>
          <a href="https://github.com/cgwire/cgwire-api">
             See source
          </a>
        </p>
      </div>
      <div class="column app">
        <p class="has-text-centered">
          <a href="https://github.com/cgwire/cgwire-frontend">
            <img src="images/kitsu.png" />
          </a>
        </p>
        <p>
          <strong>Kitsu</strong>, une interface web de gestion de prod pour un meilleur
          suivi.
        </p>
        <p>
          <a href="https://github.com/cgwire/cgwire-frontend">
             See source
          </a>
        </p>
      </div>
      <div class="column app">
        <p class="has-text-centered">
          <a href="https://github.com/cgwire/cgwire-api-client">
            <img src="images/gazeru.png" />
          </a>
        </p>
        <p>
          <strong>Gazu</strong>, un client Python pour booster vos outils en les connectant à Zou.
        </p>
        <p>
          <a href="https://github.com/cgwire/cgwire-frontend">
             See source
          </a>
        </p>
      </div>
    </div>
  </section>

  <section>
  <!-- Begin MailChimp Signup Form -->
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
    </style>
    <div id="mc_embed_signup" class="has-text-centered">
      <form action="//skreeneo.us15.list-manage.com/subscribe/post?u=68d637ad575c15300c7a34adc&amp;id=ac6f83c87e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        <div>
          <h2 class="subtitle">
          Pour suivre nos avancées sur ces outils inscrivez-vous à notre
          mailing-list :
          </h2>
        </div>
        <div class="has-text-centered level newsletter-form">
          <div class="level-item has-text-centered">
            <div class="">
                <input 
                    type="email" value="" name="EMAIL" class="email input" 
                    id="mce-EMAIL" placeholder="Addresse email" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_68d637ad575c15300c7a34adc_ac6f83c87e" tabindex="-1" value=""></div>
            <div class="submit-button">
                <input type="submit" value="S'inscrire" name="subscribe"
                id="mc-embedded-subscribe" class="button">
            </div>
          </div>
        </div>
      </form>
    </div>
  <!--End mc_embed_signup-->
  </section>

{{> footer }}
