---
metaTitle: privacy title
metaDescription: about privacy one
permalink: false

locale:
pathTo: .
---

{{> header }}

<section class="section content">

<h1 class="title">Privacy Policy</h1>

<p><span>This Policy describes the information we collect from you, how we use that information and our legal basis for doing so. It also covers whether and how that information may be shared and your rights and choices regarding the information you provide to us. </span></p>

<p><span>This Privacy Policy applies to the information that we obtain through
your use of CGWire websites including </span><a
href="https://www.cg-wire.com">www.cg-wire.com</span></a><span> and </span><a
href="https://account.cg-wire.com/{{ locale }}/"> <span>account.cg-wire.com</span></a><span>
and the domain where your instance lives (studio-name.cg-wire.com).

<h2 class="subtitle">Table of contents</h2>
<ul>
<li><p><a href="#who"><span>Who we are</span></a></p></li>
<li><p><a href="#what"><span>What We Collect and Receive</span></a></p></li>
<li><p><a href="#nda"><span>Non-Disclosure Agreement</span></a></p></li>
<li><p><a href="#rights"><span>Your Rights</span></a></p></li>
<li><p><a href="#subprocessors"><span>Subprocessors (CGWire Hosting)</span></a></p></li>
<li><p><a href="#3rdparty"><span>Third party services we use</span></a></p></li>
<li><p><a href="#retention"><span>Retention of data</span></a></p></li>
<li><p><a href="#changes"><span>Changes to the Privacy Policy</span></a></li>

</ul>

<h2 class="subtitle" id="who"><span>Who we are </span></h2>
<p><a href="https://www.cg-wire.com"><span>CGWire</span></a><span>, the company
that builds <a href="/en/kitsu.html">Kitsu</a>, provides a production tracking
solution to simplify the managememt of an animation production. We aimed at
allowing studios to build better movies more efficiently.

<p><span>"CGWire EURL" is a France company (N° RCS: Paris 831 995 303)
headquartered at: 84 avenue de la République 75011 Paris, France. </span></p>

<p><span>If you have any questions about this privacy policy, please contact
our support team at </span><a href="mailto:support@cg-wire.com"><span>support@cg-wire.com</span></a></p>
<p><span>We will never sell your personal data to anyone. </span></p>

<h2 class="subtitle" id="what"><span>What We Collect and Receive</span></h2>
<p><span>In order for you to create an account on CGWire and use our Services, we need to collect and process certain information. Depending on your use of the Services, that may include:</span></p>
<ul>
    <li><strong><span>Contact us via email</span></strong><span> &mdash; for example, when you ask for support, send us questions or comments, or report a problem, we will collect your name, email address, message, etc. We use this data solely in connection with answering the queries we receive. </span></li>
    <li><strong><span>Usage data &mdash;</span></strong><span> when you visit our site, we will store: the website from which you visited us from, the parts of our site you visit, the date and duration of your visit, your anonymised IP address, information from the device (device type, operating system, screen resolution, language, country you are located in, and web browser type) you used during your visit, and </span><a href="https://matomo.org/faq/general/faq_18254/"><span>more</span></a><span>. We process this usage data for statistical purposes, to improve our site and to recognize and stop any misuse.</span></li>
    <li><strong><span>Cookies &mdash; </span></strong><span>we use cookies
    (small data files transferred onto computers or devices by sites) for
    record-keeping purposes and to enhance functionality on our site. You may
    deactivate or restrict the transmission of cookies by changing the settings
    of your web browser. Cookies that are already stored may be deleted at any
    time. Inside you Kitsu instance, no analytics are running. But blocking
    cookies will prevent you from logging in you Kitsu account.</span></li>
    <li><strong><span>Create an account &mdash;</span></strong><span> when you
    sign up for and open an account with CGWire Hostiong, or sign up for content or offers, we may ask you to provide us with information such as your name, email address and details about your organization. As otherwise detailed in this Privacy Policy, we will solely process this information to provide you with the service you signed up for. </span></li>
</ul>

<h2 class="subtitle" id="nda">Non-Disclosure Agreement</h2>

We are aware that your production data must not be shared. That's why we are
ready to sign your NDA (Non-Disclosure Agreement) if it's required.

<h2 class="subtitle" id="rights"><span>Your Rights</span></h2>
<p><span>You have the right to be informed of Personal Data processed by CGWire, a right to rectification/correction, erasure and restriction of processing. You also have the right to ask from us a structured, common and machine-readable format of Personal Data you provided to us.</span></p>
<p><span>We can only identify you via your email address and we can only adhere to your request and provide information if we have Personal Data about you through you having made contact with us directly and/or you using our site and/or service. We cannot provide, rectify or delete any data that we store on behalf of our users or customers.</span></p>
<p><span>To exercise any of the rights mentioned in this Privacy Policy and/or
in the event of questions or comments relating to the use of Personal Data you
may contact CGWire&rsquo;s support team: </span><a
href="mailto:support@cg-wire.com"><span>support@cg-wire.com</span></a></p>
<p><span>In addition, you have the right to lodge a complaint with the data protection authority in your jurisdiction.</span></p>

<h2 class="subtitle" id="subprocessors">Subprocessors (CGWire Hosting)</h2>
<p><span>We use a select number of trusted external service providers for certain technical data processing and/or service offerings. These service providers are carefully selected and meet high data protection and security standards. We only share information with them that is required for the services offered and we contractually bind them to keep any information we share with them as confidential and to process Personal Data only according to our instructions.</span></p>
<p><span>CGWire uses the following subprocessors to process the data collected
by CGWire Hosting customers:</span></p>
<table>
    <tbody>
      <tr>
        <td>
            <p><strong><span>Subprocessor</span></strong></p>
        </td>
        <td>
            <p><strong><span>Data location and security</span></strong></p>
        </td>
        <td>
            <p><strong><span>Service</span></strong></p>
        </td>
      </tr>
      <tr>
        <td>
            <p><a href="https://www.ovh.com/en/"><span>OVH</span></a></p>
        </td>
        <td>
            <p><span>France</span></p>
        </td>
        <td>
            <p><span>Secure Hosting Infrastructure for instances hosting and databases and logs</span></p>
        </td>
      </tr>
      <tr>
        <td>
            <p><a href="https://heroku.com/"><span>Heroku</span></a></p>
        </td>
        <td>
            <p><span>US</span></p>
        </td>
        <td>
          <p>
            <span>
              Secure Platform-as-a-Service to manage service subscritption
              and billing. 
            </span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><a href="https://www.netlify.com"><span>Netlify</span></a></p>
        </td>
        <td>
          <p><span>US</span></p>
        </td>
        <td>
          <p><span>Hosting services for static websites</span></p>
        </td>
      </tr>
    </tbody>
</table>
<p></p>
<p><span>Terms &amp; Conditions: </span><a href="https://www.cg-wire.com/terms"><span>https://www.cg-wire.com/terms</span></a></p>
<h2 class="subtitle" id="3rdparty"><span>Third party services we use</span></h2>
<p><span>When you visit our websites, or purchase products or services, we use the following third party services which may collect personal data:</span></p>
<table>
    <tbody>
    <tr>
        <td>
            <p><strong><span>Recipient</span></strong></p>
        </td>
        <td>
            <p><strong><span>Purpose of processing</span></strong></p>
        </td>
        <td>
            <p><strong><span>Data location and security</span></strong></p>
        </td>
        <td>
            <p><strong><span>Personal data collected by the third party</span></strong></p>
        </td>
        <td>
            <p><strong><span>Privacy policy</span></strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><a href="http://www.innocraft.cloud/"><span>Innocraft Cloud</span></a></p>
        </td>
        <td>
            <p><span>To collect and analyse information about how you interact with our websites (web analytics), and to recognize and stop any misuse</span></p>
        </td>
        <td>
            <p><span>France</span></p>
        </td>
        <td>
            <p><span>Anonymised IP address, Pages visited, browser and device used, and </span><a href="https://matomo.org/faq/general/faq_18254/"><span>more</span></a><span>.</span></p>
        </td>
        <td>
            <p><a href="https://www.innocraft.cloud/privacy"><span>https://www.cg-wire.com/privacy</span></a></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><a href="https://www.mailgun.com">Mailgun</a></p>
        </td>
        <td>
            <p><span>This is a transactional email provider: we use it to send
            time sensitive email.</span></p>
        </td>
        <td>
            <p><span>USA</span></p>
        </td>
        <td>
            <p><span>Email, IP address</span></p>
        </td>
        <td>
            <p><a href="https://www.mailgun.com/privacy-policy">https://www.mailgun.com/privacy-policy</a></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><a href="https://mailerlite.com/">Mailerlite</a></p>
        </td>
        <td>
            <p><span>To send you our newsletter emails after you signup</span></p>
        </td>
        <td>
            <p><span>EU</span></p>
        </td>
        <td>
            <p><span>Email</span></p>
        </td>
        <td>
            <p><a href="https://www.mailerlite.com/legal/privacy-policy">https://www.mailerlite.com/legal/privacy-policy</a></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><a href="https://www.crisp.com/"><span>Crisp</span></a></p>
        </td>
        <td>
            <p>This is a chat provider: we use it to communicate with our users on this website.</p>
        </td>
        <td>
            <p>EU</p>
        </td>
        <td>
            <p>Email, IP</span></p>
        </td>
        <td>
            <p><a href="https://crisp.chat/fr/privacy/">https://crisp.chat/fr/privacy/</a></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><a href="https://www.stripe.com">Stripe</a></a></p>
        </td>
        <td>
            <p><span>To receive payments</span></p>
        </td>
        <td>
            <p><span>USA</span></p>
        </td>
        <td>
            <p><span>Payment transactions details</span></p>
        </td>
        <td>
            <p><a href="https://www.stripe.com"><span>https://www.stripe.com</a></p>
        </td>
    </tr>
    </tbody>
</table>
<h2 class="subtitle" id="retention"><span>Retention of data</span></h2>
<p><span>We will retain your information as long as your account is active, as necessary to provide you with the services or as otherwise set forth in this Policy. We will also retain and use this information as necessary for the purposes set out in this Policy and to the extent necessary to comply with our legal obligations, resolve disputes, enforce our agreements and protect CGWire&rsquo;s legal rights.</span></p>
<p><span>We also collect and maintain aggregated, anonymized or pseudonymized information which we may retain indefinitely to protect the safety and security of our site, improve our Services or comply with legal obligations.</span></p>
<h2 class="subtitle" id="changes"><span>Privacy Policy Changes</span></h2>
<p><span>We may update this Policy from time to time. If we do, we&rsquo;ll let you know about any material changes, either by notifying you on the website or by sending you an email. </span></p>

<h2 class="subtitle">Contact Us</h2>
<p>Email: <a href="mailto:support@cg-wire.com">support@cg-wire.com</a></p>
<p>Contact form: <a href="https://www.cg-wire.com/#contact">cg-wire.com/#contact</a></p>


</section>

{{> footer }}
