---
metaTitle: schools title
metaDescription: about explaination one
permalink: false

locale:
pathTo: .
---

{{> header }}

  <section class="section content">
    <h2 class="title has-text-centered">
      {{__ 'schools title'}}
    </h2>
  </section>

  <section class="section content flexrow use-case">
    <div class="flexrow-item">
      <h2 class="subtitle">
        For Directors of Studies
      </h2>
      <p>  
      Directors of studies follows the final student projects. They want to
      know which project is going well.
      </p>
      <p>
      Director of Studies will be able to know the status of a project in one
      look and see if the assignments of the tasks are fair or not.  All the
      project will have the same structure which makes the tracking easier.
      </p>
      <p>
    </div>
    <span 
      class="flexrow-item"
      style="width: 300px; height: 200px; background-color: grey;">
    </span>

  </section>

  <section class="section content flexrow use-case">
    <span 
      class="flexrow-item"
      style="width: 300px; height: 200px; background-color: grey;">
    </span>

    <div class="flexrow-item">
      <h2 class="subtitle">
        For teachers
      </h2>
      <p>
        Teacher will focus on their speciality. They won’t miss a request 
        for feedback or a new preview. They will be able to see which student
        group require assistance.
      </p>
      <p>
        Movie reviews will be easier thanks to the playlist module which allow
        to compare previous versions or with previous building stage.
      </p>
    </div>
  </section>

  <section class="section content flexrow use-case">

    <div class="flexrow-item">
      <h2 class="subtitle">
        For Students
      </h2>

      <p>
        Students will have a dedicated place to work together, to
        share all the information and works. It will give you a frame to 
        be properly organized.
      </p>
      <p>
        Students receive information directly from their teachers.
        Via the notifications, you will know when teachers provide a
        feedback.
      </p>
      <p>
        Students learn to use a production tracker that runs in real studios.
        They will acquire early a good sense of professional communication
        and priorities.
      </p>
      <p>
    </div>
    <span 
      class="flexrow-item"
      style="width: 300px; height: 200px; background-color: grey;">
    </span>
  </section>
  
  <section class="section content use-case">
    <h2 class="subtitle has-text-centered">
      {{__ 'kitsu contact introduction'}}
    </h2>
    <p class="has-text-centered">
      <a class="button is-large" href="https://account.cg-wire.com/signup">
        {{__ 'main plans cta'}}
      </a>
    </p>
  </section>

{{> footer }}
