---
metaTitle: studios tagline
metaDescription: studios explaination one
permalink: false

name: customers
locale:
pathTo: .
---

{{> header }}

  <div class="studios">
  <section class="section">
    <h2>
      <span class="section-subtitle">{{__ 'studios subtitle'}}</span>
      <span class="section-title">
          {{__ 'studios tagline'}}
      </span>
    </h2>
  </section>

  <section class="section mt0">
    <ul class="customers">
      <li class="customers-item"><a href="http://www.cube-creative.com"><img src="/images/logo-cube-invert.png" alt="Cube"></a></li>
      <li class="customers-item"><a href="http://blog.autourdeminuit.com"><img src="/images/logo-autour-de-minuit-invert.png" alt="Autour de Minuit"></a></li>
      <li class="customers-item"><a href="http://les-fees-speciales.coop/"><img src="/images/logo-les-fees-speciales-invert.png" alt="Les Fées Spéciales"></a></li>
      <li class="customers-item"><a href="https://nousvoir.com"><img src="/images/logo-tnzpv-invert.png" alt="TNZPV"></a></li>
      <li class="customers-item"><a href="https://www.unit-image.fr"><img src="/images/logo-unit-image-invert.svg" alt="Unit Image"></a></li>
      <li class="customers-item"><a href="https://www.ankama.com/fr/animations"><img src="/images/logo-ankama.png" alt="Ankama Animations"></a></li>
      <li class="customers-item"><a href="https://www.folivari.com"><img src="/images/logo-folivari.png" alt="Folivari / Fost"></a></li>
      <li class="customers-item"><a href="https://www.miyu.fr"><img src="/images/logo-miyu-invert.png" alt="Miyu"></a></li>
      <li class="customers-item"><a href="http://www.madlab-animations.com"><img src="/images/logo-madlab-invert.png" alt="Madlab"></a></li>
      <li class="customers-item"><a href="https://www.periple.fr/"><img src="/images/logo-periple.png" alt="Periple"></a></li>
      <li class="customers-item"><a href="https://www.karlab.fr"><img src="/images/logo-karlab-invert.svg" alt="Karlab"></a></li>
      <li class="customers-item"><a href="https://www.menhirfx.com"><img src="/images/logo-menhir-invert.png" alt="Menhir"></a></li>
      <li class="customers-item"><a href="https://leefilm.se"><img src="/images/logo-lee-invert.png" alt="Lee Film"></a></li>
      <li class="customers-item"><a href="https://traumhaus-studios.de"><img src="/images/logo-traumhaus-invert.png" alt="Traumhaus"></a></li>
      <li class="customers-item"><a href="https://www.lisaa.com"><img src="/images/logo-lisaa-invert.svg" alt="LISAA"></a></li>
      <li class="customers-item"><a href="https://www.esra.edu"><img src="/images/logo-esra-invert.png" alt="ESRA"></a></li>
      <li class="customers-item"><a href="https://www.gobelins.fr"><img src="/images/logo-gobelins.png" alt="Les Gobelins"></a></li>
      <li class="customers-item"><a href="http://pole3d.com/"><img src="/images/logo-pole3d-invert.png" alt="Pôle 3D"></a></li>
      <li class="customers-item"><a href="https://www.institutartline.com/"><img src="/images/logo-artline.svg" alt="Institut ArtLine"></a></li>
      <li class="customers-item"><a href="https://www.ecv.fr/"><img src="/images/logo-ecv.png" alt="ECV Creative School"></a></li>
      <li class="customers-item"><a href="https://lanimea.com/"><img src="/images/logo-lanimea.png" alt="Lanimea"></a></li>
      <li class="customers-item"><a href="http://www.malil-art.com"><img src="/images/logo-malilart.png" alt="Malilart"></a></li>
      <li class="customers-item"><a href="http://www.cartuna.com"><img src="/images/logo-cartuna.png" alt="Cartuna"></a></li>
      <li class="customers-item"><a href="https://www.submarine.nl/"><img src="/images/logo-submarine-invert.png" alt="Submarine"></a></li>
      <li class="customers-item"><a href="https://www.mirayi.my/"><img src="/images/logo-mirayi.png" alt="Mirayi"></a></li>
      <li class="customers-item"><a href="https://www.digital-district.fr/"><img src="/images/logo-digital-district.png" alt="Digital District"></a></li>
      <li class="customers-item"><a href="https://www.polycat.com/"><img src="/images/logo-polycat.png" alt="Polycat"></a></li>
      <li class="customers-item"><a href="http://www.mikrofilm.no/"><img src="/images/logo-mikrofilm.png" alt="Mikrofilm"></a></li>
      <li class="customers-item"><a href="https://bartmaalderink.nl/"><img src="/images/studios/logo-bart-inverted.png" alt="Bart Maalderink"></a></li>
      <li class="customers-item"><a href="https://jsbc.fr"><img src="/images/studios/logo-je-suis-bien-content-inverted.png" alt="Je Suis Bien Content"></a></li>
    </ul>
    </ul>
  </section>

  <section class="section productions">
    <h2>
      <span class="section-subtitle">{{__ 'studios productions subtitle'}}</span>
      <span class="section-title">{{__ 'studios productions title'}}</span>
    </h2>

    <ul>
      <li>
        <a href="https://cloud.blender.org/films/sprite-fright/" 
           class="production">
          <img src="/images/productions/sprite-fright.png" />
          <span>Sprite Fright (running)</span>
        </a>
      </li>
      <li>
        <a href="https://www.miyu.fr/production/en/mussels-and-fries/" 
           class="production">
          <img src="/images/productions/moules-frites.png" />
          <span>Moules Frites</span>
        </a>
      </li>
      <li>
        <a href="https://www.bobbypills.com/work/captainlaserhawk" 
           class="production">
          <img src="/images/productions/laserhawk.png" />
          <span>Captain Laserhawk: A Blood Dragon Remix (running)</span>
        </a>
      </li>
      <li>
        <a href="https://rabbids.fandom.com/wiki/Rabbids_Invasion_Mission_To_Mars" 
           class="production">
          <img src="/images/productions/rabbids-invasion.png" />
          <span>Rabbids Invasion: Mission To Mars (running)</span>
        </a>
      </li>
      <li>
        <a href="http://www.filmfund.lu/fr/film-catalogue/films/le-petit-nicolas" 
           class="production">
          <img src="/images/productions/le-petit-nicolas.png" />
          <span>Le Petit Nicolas (running)</span>
        </a>
      </li>
      <li>
        <a href="https://www.kickstarter.com/projects/ankamaanimations/wakfu-the-animated-series-season-4" 
           class="production">
          <img src="/images/productions/wakfu.png" />
          <span>Wafu Season 4 (running)</span>
        </a>
      </li>
      <li>
        <a href="https://lacabaneproductions.com/portfolio/mush-mush-and-the-mushables/" 
           class="production">
          <img src="/images/productions/mush_mush.png" />
          <span>Mush Mush and the Mushables</span>
        </a>
      </li>
      <li>
        <a href="https://www.miyu.fr/production/la-vie-de-chateau/" 
           class="production">
          <img src="/images/productions/ldvc.png" />
          <span>La Vie de Château</span>
        </a>
      </li>
      <li>
        <a href="https://xilam.com/media/de-gaulle-a-la-plage/" 
           class="production">
          <img src="/images/productions/degaulle.png" />
          <span>De Gaulle à la Plage</span>
        </a>
      </li>
      <li>
        <a href="https://www.technicoloranimationproductions.com/fr/production.php" 
           class="production">
          <img src="/images/productions/gus.png" />
          <span>Gus, Le Chevalier Minus</span>
        </a>
      </li>
      <li>
        <a href="https://www.unifrance.org/film/49486/princesse-dragon" 
           class="production">
          <img src="/images/productions/princesse_dragon.png" />
          <span>Princesse Dragon (running)</span>
        </a>
      </li>
      <li>
        <a href="https://blog.autourdeminuit.com/production/non-non-retrecit/" 
           class="production">
          <img src="/images/productions/non_non.png" />
          <span>Non Non</span>
        </a>
      </li>
      <li>
        <a href="http://traumhaus-studios.de/portfolio/meine_freundin_conni" 
           class="production">
          <img src="/images/productions/conni.png" />
          <span>Meine Freundin Conni - Secret of Mau, the Cat</span>
        </a>
      </li>
      <li>
        <a href="https://leefilm.se/news-all/theapestar" 
           class="production">
          <img src="/images/productions/apestar.png" />
          <span>The Ape Star</span>
        </a>
      </li>
      <li>
        <a href="https://www.cartuna.com/magical-girl-friendship-squad" 
           class="production">
          <img src="/images/productions/mgfs.png" />
          <span>Magical Girl Friendship Squad</span>
        </a>
      </li>
      <li>
        <a href="https://www.cartuna.com/loafy" 
           class="production">
          <img src="/images/productions/loafy.png" />
          <span>Loafy</span>
        </a>
      </li>
      <li>
        <a href="http://www.cube-creative.com/film/trangranimo" 
           class="production">
          <img src="/images/productions/tangranimo.png" />
          <span>Tangranimo (running)</span>
        </a>
      </li>
      <li>
        <a href="https://blog.autourdeminuit.com/coming-soon/unicorn-wars/" 
           class="production">
          <img src="/images/productions/unicornwars.png" />
          <span>Unicorn Wars (running)</span>
        </a>
      </li>
      <li>
        <a href="https://www.miyu.fr/distribution/deux-oiseaux/"
           class="production">
          <img src="/images/productions/deux_oiseaux.png" />
          <span>Deux Oiseaux</span>
        </a>
      </li>
      <li>
        <a href="https://www.miyu.fr/production/en/blind-willow-sleeping-woman/"
           class="production">
          <img src="/images/productions/blindwillow.png" />
          <span>Blind Willow, sleeping Woman (running)</span>
        </a>
      </li>
      <li>
        <a href="https://www.phantavision.com/film/filmpost/18/68#ad-image-0"
           class="production">
          <img src="/images/productions/pim_pom.png" />
          <span>Pim & Pom in Het Museum (running)</span>
        </a>
      </li>
      <li>
        <a href="https://www.elreinoinfantil.com/serie/1/la-granja-de-zenon"
           class="production">
          <img src="/images/productions/zenon.png" />
          <span>La Granja de Zenon (running)</span>
        </a>
      </li>
      <li>
        <a href="https://fr.wikipedia.org/wiki/Foot_2_rue"
           class="production">
          <img src="/images/productions/f2r.png" />
          <span>Foot 2 Hue (running)</span>
        </a>
      </li>
      <li>
        <a href="https://www.lezappingdupaf.com/2019/06/moi-a-ton-age-nouvelle-serie-d-animation-en-developpement-pour-france-televisions.html"
           class="production">
          <img src="/images/productions/mat.png" />
          <span>Moi à Ton Âge (running)</span>
        </a>
      </li>
      <li>
        <a href="https://periple.fr/video/lepopee-temporelle/"
           class="production">
          <img src="/images/productions/oggy-next-gen.png" />
          <span>Oggy Next Generation</span>
        </a>
      </li>
      <li>
        <a href="https://xilam.com/media/oggy-et-les-cafards-next-gen/"
           class="production">
          <img src="/images/productions/epopee-temporelle.png" />
          <span>Épopée temporelle</span>
        </a>
      </li>
    </ul>
  </section>
  </div>

{{> trial }}
 
{{> footer }}
