<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CGWire - {{__ metaTitle}}</title>
    <meta name="description" content="{{__ metaDescription }}">
    <meta name="keywords" content="production management pipeline cg 3dsmax maya animation movie fx">
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="/images/favicon.png">

    <meta property="og:title" content="CGWire - {{__ metaTitle }}">
    <meta property="og:description" content="{{__ metaDescription }}">
    <meta property="og:locale" content="en_US" />
    <meta property="og:locale:alternate" content="fr_FR" />
    <meta property="og:image" content="https://cgwire.com/images/logo.svg">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://twitter.com/cgwirenews/">
    <meta name="twitter:title" content="CGWire - {{__ metaTitle }}">
    <meta name="twitter:description" content="{{__ metaDescription }}">
    <meta name="twitter:image" content="https://cgwire.com/images/logo.svg">

    <link rel="stylesheet" href="css/bulma.min.css" media="all">
    <link rel="stylesheet" href="css/pyramid.css" media="all">
    <link rel="stylesheet" href="styles/app.css" media="all">
  </head>

  <body>
    {{{ contents }}}

    <script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "CGWire",
  "url" : "https://www.cgwire.com",
  "logo" : "https://www.cgwire.com/images/logo.svg",
  "sameAs" : [
    "http://www.twitter.com/cgwirenews"
  ]
}
    </script>

    <script>
    // Javascript required by Bulma to manage the top menu on mobile.
    document.addEventListener('DOMContentLoaded', function () {

  var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  if ($navbarBurgers.length > 0) {

    $navbarBurgers.forEach(function ($el) {
      $el.addEventListener('click', function () {

        var target = $el.dataset.target;
        var $target = document.getElementById(target);

        $el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }
});
    </script>

  </body>
</html>
